.Cart{
    overflow: hidden;
    
}

.cart-background{
    position: absolute;
    top:0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    
  
}

.cart-box{
    width: 45vh;
    height: 100%;
    background-color: white;
    float: right;
    border-radius: 5rem;
    margin-right: -30%;
    overflow: hidden;
    animation: slides 0.5s normal;
    animation-fill-mode: forwards;
    
}




/* CART OPEN ANIMATION */

@keyframes slides {
from {margin-right: calc(0% - px)}
to {margin-right: -3%;}
}

/*Close cart icon */
#close-cart-icon{  
    font-size: 5rem;
    cursor: pointer;
    float: right;
    margin-right: 15%;
}

#close-cart-icon:hover{ 
    color: red;
    transform: rotate(90deg) scale(1.5);
    transition: 500ms;
}
