.Cart{
  overflow: none;
  
}

.cart-background{
    position: absolute;
    top:0;
    left:0;
    min-height: 150vh;
    height: 1000vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);  
    overflow: none;
}

.cart-box{
    width: 45vh;
    min-height: 100vh;
    height: auto;
    background-color: white;
    float: right;
    border-radius: 1rem;
    margin-right: -30%;
    animation: slides 0.5s normal;
    animation-fill-mode: forwards;
    z-index: 50000000000;
    cursor: default;
   
}

.cart-content{
  overflow: none;
}



/* in cart items style */

.added-cart-item-row{
  width: 80%;
  height: auto;
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  gap: 20%;
  align-items: center;
  
}

#in-cart-product-img{
  width: auto;
  height: 10rem;
 
  
}


/* CART OPEN ANIMATION */

@keyframes slides {
from {margin-right: calc(0% - px)}
to {margin-right: 0%;}
}

/*Close cart icon */
#close-cart-icon{  
    font-size: 5rem;
    cursor: pointer;
    float: right;
    margin-right: 10%;
}

#close-cart-icon:hover{ 
    color: red;
    transform: rotate(90deg) scale(1.5);
    transition: 500ms;
}

/* EMPTY CART CONTENT */

.empty-cart-content{
    margin-top: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .empty-cart-content h2{
    text-align: center;
  }
  
  #empty-cart-icon{
    font-size: 10rem;
  }
  
  .continue-shopping-btn{
    width: 15rem;
    height: 3rem;
    font-size: 0.8rem;
    background-color: rgba(0,0,0,0.76);
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    cursor: pointer;
    font-weight: 550;
    letter-spacing: 0.05rem;
  }
  
  .continue-shopping-btn{
    background-color: rgba(0,0,0,1);
  }

  /* Quantity style*/

  #cart-quantity-number-input-field{
    width: 3rem;
    height: 2rem;
    font-size: .9rem;
    border-radius: .3rem;
    border: 1px solid grey;
    text-align: center;
    padding-left: 25%;
    cursor: default;
    outline:none;

  }

  .quantity-change-buttons{
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    gap: 50%;
    margin-top: -50%;
    
    
  }
  #cart-minus-icon:hover{
    color: #ff5b5b;
  }

  #cart-plus-icon:hover{
    color: #0297b7;
  }

  #cart-trash-icon:hover{
    color: #ff5b5b;
  }

  


  /* Media Queries */


@media only screen and (min-width: 300px) and (max-width: 599px){
  /* For mobile phones: */
 [class*="col-"] {
     width: 100%;
   }

   .cart-box{
    margin-top: -200%;
    animation: flyFromAbove 0.5s normal;
    animation-fill-mode: forwards;
    width: 100%;
    float: none;;
   }

   @keyframes flyFromAbove {
    from {margin-top: calc(0% - px)}
    to {margin-top: 0%;}
  }

  #cart-quantity-number-input-field{
    padding-left: 10%;

  }
}



  
@media only screen and (min-width: 600px) and (max-width: 899px){
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
 
 
 }
 
 
 
 
 
 @media only screen and (min-width: 900px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
 
 
 }

