.Navbar{
    display: flex;
    align-items: center;
    margin-top: .5%;
    margin-bottom: .5%;
    border-bottom: 1px solid black;
}

#logo{
    width: 2rem;
    height: auto;
    margin-left: 2%;
}

.desktop-nav-links{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-left: 2%;
    width: 90%;
    height: auto;
    border-bottom: 5px grey;
}





.nav-links{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.nav-links:hover{
    background-color: rgba(0,0,0,0.1)
    
}

.nav-icons-ctn{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 5%;
}

.bxs-shopping-bag{
    font-size: 3.5rem;
    cursor: pointer;
    margin-left: 50%;
    
    
}



/* CART COUNTER | ITEMS IN CART */

#cart-count-number {
    background-color: #ff5b5b;
    border-radius: 50%;
    font-size: .7rem;
    text-align: center;
    color: #ffffff;
    width : 2.7rem;
    margin-left: -20%;
    margin-top: -30%;
}  


/* Media Queries */


@media only screen and (min-width: 300px) and (max-width: 599px){
    /* For mobile phones: */
   [class*="col-"] {
       width: 100%;
     }

     .desktop-nav-links{
        display: none;
     }

     #menu-icon{
        font-size: 4rem;
        cursor: pointer;
        margin-top: -4%;
     }

     #close-menu-icon{
        font-size: 4rem;
        cursor: pointer;
        z-index: 999999999;
     }

     .touch-devices-nav-links-ctn{
        height: 50vh;
        width: 100%;
        position:fixed;
        top: 10%;
        background-color: rgba(0,0,0,0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15%;
     }

     .nav-links-touch-devices{
        font-size: 2rem;
        color: #ffffff;
        text-decoration: none;
        border-bottom: 2px solid #ffffff;
     }

     #logo{
        display: none;
       }

    
   }
  
  
  
  @media only screen and (min-width: 600px) and (max-width: 899px){
   /* For tablets: */
   .col-s-1 {width: 8.33%;}
   .col-s-2 {width: 16.66%;}
   .col-s-3 {width: 25%;}
   .col-s-4 {width: 33.33%;}
   .col-s-5 {width: 41.66%;}
   .col-s-6 {width: 50%;}
   .col-s-7 {width: 58.33%;}
   .col-s-8 {width: 66.66%;}
   .col-s-9 {width: 75%;}
   .col-s-10 {width: 83.33%;}
   .col-s-11 {width: 91.66%;}
   .col-s-12 {width: 100%;}
  
   .desktop-nav-links{
    display: none;
 }

 #menu-icon{
    font-size: 3rem;
    cursor: pointer;
    margin-top: -3%;
 }

 #close-menu-icon{
        font-size: 3rem;
        cursor: pointer;
        z-index: 999999999;
     }

     .touch-devices-nav-links-ctn{
        height: 50vh;
        width: 100%;
        position:absolute;
        top: 7%;
        background-color: rgba(0,0,0,0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15%;
     }

     .nav-links-touch-devices{
        font-size: 2rem;
        color: #ffffff;
        text-decoration: none;
        border-bottom: 2px solid #ffffff;
     }

   #logo{
    display: none;
   }

  }
  
  
  
  
  
  @media only screen and (min-width: 900px) {
   /* For desktop: */
   .col-1 {width: 8.33%;}
   .col-2 {width: 16.66%;}
   .col-3 {width: 25%;}
   .col-4 {width: 33.33%;}
   .col-5 {width: 41.66%;}
   .col-6 {width: 50%;}
   .col-7 {width: 58.33%;}
   .col-8 {width: 66.66%;}
   .col-9 {width: 75%;}
   .col-10 {width: 83.33%;}
   .col-11 {width: 91.66%;}
   .col-12 {width: 100%;}
  
   #menu-icon{
    display: none;
   }

   #close-menu-icon{
    display: none;
   }

   .touch-devices-nav-links{
    display: none;
   }

   .nav-links-touch-devices{
    display: none;
   }

   
  
  }