.Navbar{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-left: 2%;
    width: 90%;
    height: auto;
    border-bottom: 5px grey;

}

.nav-links{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
}

.nav-links:hover{
    background-color: rgba(0,0,0,0.1)
    
}

#cart-icon{
    font-size: 2.5rem;
    cursor: pointer;
    margin-left: auto;
    
}


